*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}
body{
	background-color: #FFF5E1;
	font-family: Arial, sans-serif;
	font-size: 14px;
	border: 5px solid black;
	max-height: 100%;
	max-width: 100%;

}
header{
	padding: 10px;
	height: 150px;
	background-color: #00CED1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

header:hover{
	border-radius: 100px;
	background-color: lime;
	transition: 0.3s ease;
}

#header{
	padding: 10px;
}
h1{
	color: #FFFF66;
	font-family: papyrus;
	
}

nav{
	background-color: #00FF00;
	padding: 5px;
	align-items: center;
	height: auto;
	

}
nav:hover {
	border-radius: 100px;
	transition: 0.3s ease;
	background-color: turquoise;
	

}
nav ul{
	padding: 10px;
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

nav ul li{
	display: inline-block;
	margin: 10px;
}

nav ul li a{
	text-decoration: none;
	color: #FF00FF;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 18px;
	flex-wrap: wrap;
	justify-content: center;
	display: flex;

}
nav a:hover {
	color:red;
	transition: 0.3s ease;

}

main{
	padding: 20px;
	text-align: center;
	background-color: #fff;
	max-height: 80%;
	max-width: 100%;
}
article{
	margin: 2%;

	width: 35%;
	height: 60%;
	float: left;
}
article p{
	display: inline-block;
}
aside{
	margin: 2%;
	width: 55%;
	height: 60%;
	float: right;
}


footer{
	background-color: #2F4F4F;
	color:yellow;
	height: 20%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
footer h2{
	color:#FFD700 ;
	font-family:sans-serif;
	font-size: 25px;
	text-align: center;
}
}

.lista{
	text-align: center;
	

}


#logos{
	margin: 0px;
	padding: 0px;
	height: 150px;
	width: 150px;
	float: right;
}
#logos img{
	
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 100px;
}

#titulo{
	font-size: 50px;
	text-align: center;
	color: blue;
	margin-top: 10px;

}

.slider-box{
    width: 1300px;
    height: auto;
    margin: 10 auto;
    padding: 10px;
    overflow: hidden;
    max-width:100%;
    display:flex;
    position:relative;
  
	/*display: flex;
	padding: 10px;
	;
	justify-content: center;
    flex-wrap: wrap
	justify-content: center;
	;*/
	

}
.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: slider 12s infinite alternate ease-in-out;

}
.slider-box li{
    width: calc(25.5% - 0px); 
    list-style: none;
}

.slider-box img{

    width:400px;
	/*margin: 18px;
	object-fit: cover;
	border-radius: 10px;
	width: 200px;
	height: 150px;*/

}

.slider-box img:hover{

	transform: scale(1.2);

}

@keyframes slider {
    
    0%{margin-left: 0%}
    15%{margin-left: 0%}

    20%{margin-left: -100%}
    35%{margin-left: -100%}

    40%{margin-left: -200%}
    55%{margin-left: -200%}

    60%{margin-left: -300%}
    75%{margin-left: -300%}

    80%{margin-left: -400%}
    100%{margin-left: -400%}


}

/*moviles*/

@media(max-width:600px){
	.imagenes img{
		width: 100%;
		height: auto;
	}
	header{
		flex-direction: column;
		align-items: center;
		text-align: center;
		
	}
	#header{
		padding: 10px;
		height: auto;
	}

	#barra ul li a{
	font-size: 120%;
	}

	#logo{
		display: flex;
		width: 190px;
		height: 190x;
		align-items: center;
		justify-content: center;


	}
	#logos{
		display: flex;
		width: 190px;
		height: 190px;
		align-items: center;
		justify-content: center;
	}

	#titulo h1{
		font-size: 60%;
	}
	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin: 0px 0;
	}

	#barra ul li a{
	display: flex;
	justify-content: center;
	margin: 0%;
	height: 30px;
	padding: 2px;
	font-size: 30px;
	}



	textarea.cuadro{
		height: 60px;
	}

	
	footer h2{
		font-size: 18px;
	}

}
 
 /*para 2 images*/
@media(min-width:601px) and (max-width:899px){
	.imagenes img{
		width: 40%;
		height: 40%;

	}

	header{
		flex-direction: column;
		align-items: center;
		text-align: center;
		height: 30%;

	}



	#logo {
		justify-content: center;
		align-items: center;
		}
	#logo img{
		width: 80%;
		height: 80%;
		
	}
	#logo {
		justify-content: center;
		align-items: center;
		}
	#logos img{
		
		width: 80%;
		height: 80%;

		
	}

	#titulo h1{
		font-size: 130%;
	}
	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin: 0% 0;
	}

	nav ul li a{
		font-size: 50%;
	}


	#barra ul li a{
	display: flex;
	justify-content: center;
	margin: 0%;
	height: 30px;
	padding: 2px;
	font-size: 35px;
	}
	

	


	textarea.cuadro{
		height: 60px;
	}

	
	footer h2{
		font-size: 18px;
	}


}

/*para 3 imagnes*/

@media(min-width:900px) and (max-width:1199px){
	.imagenes img{
		width: 25%;
		height: 25%;
	}

	header{
		flex-direction: column;
		align-items: center;
		text-align: center;
		height: 20%;
	}
	#logo {
		justify-content: center;
		align-items: center;
		}
	#logo img{
		width: 80%;
		height: 80%;
		
	}

	#logos {
		justify-content: center;
		align-items: center;
		}
	#logos img{
		width: 80%;
		height: 80%;
		
	}

}


 /*para 4 images*/
@media(min-width:1200px){
	.imagenes img{
		width: 20%;
		height: 20%;
	}


	#logo img{
		width: 85%;
		height: 85%;
	}
	#logos img{
		width: 85%;
		height: 85%;
	}
	#titulo h1{
		font-size: 140%;

	}

	nav ul li a{
		font-size: 50%;
	}

}




